@import "tailwindcss";

.chesscontainer{
    width: 80%;
    margin: 20px auto;
    border: solid;
    border-width: 5px;
    height: 500px;
}

.loadplayers{
    width: 500px;
    border: solid;
    border-radius: 5px;
}

#myForm {
    border: solid;
    border-width: 2px;
    max-width: fit-content;
}

#customloader{
    margin: 20px 20px 5px 30px;
}

#custom{
    margin: 5px 5px 20px;
}