@import "tailwindcss";

.chesscontainer{
    width: 80%;
    margin: 20px auto;
    border: solid;
    border-width: 5px;
    height: 500px;
}

.loadplayers{
    width: 30%;
    border: solid;
    border-radius: 5px;
}

#myForm {
    border: solid;
    border-width: 2px;
    max-width: fit-content;
}